.App {
  margin: 24px 10vw 0;

  @media(max-width: 800px) {
    margin: 24px 10px;
  }

  @media(min-width: 1500px) {
    margin: 24px 20vw 0;
  }
}

.mobile {
  *:hover {
    opacity: unset !important;
  }
}
